<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <h1>Welcoming message</h1>
  <p>Hello <%= @user.username %>,</p>
  <p>Thank you for signing up. We're excited to have you on board!</p>
  <p>Your account has been created successfully.</p>

  <ul>
    <li>Email: <%= @user.email %></li>
    <li>Role: <%= @user.role %></li>
  </ul>

  <p>To activate your account, please click the following link:</p>
  <a href="<%= @activation_url %>">Activate Account</a>
  <p><%= "#{@activation_url}" %></p>

  <p>Feel free to explore our app and enjoy all the features we offer.</p>
  <p>If you have any questions or need assistance, please don't hesitate to contact us at Ecoblazz@gmail.com.</p>
  <p>Best regards,<br />EcoBlazz</p>
</body>
</html>
